<div class="bg-white p-8 rounded-lg">
  <form>
    <h1 class="text-2xl text-Denim font-500">Pick add-ons</h1>
    <h6 class="text-Light-gray text-lg font-400">
      Add-ons help enhance your gaming experience.
    </h6>
    <div class="flex flex-col gap-4 mt-8">
      <div
        class="flex justify-between items-center border-2 border-border-color rounded-lg py-4 px-8"
      >
        <div>
          <input
            type="checkbox"
            name="os"
            id="os"
            class="h-6 w-6 border-2 border-border-color rounded-lg"
          />
        </div>
        <div>
          <h1 class="text-Denim text-lg">Online service</h1>
          <h2 class="text-Light-gray text-sm">Access to multiplayer games</h2>
        </div>
        <div>
          <h1 class="text-Puplish text-lg">$1/mo</h1>
        </div>
      </div>
      <div
        class="flex justify-between items-center border-2 border-border-color rounded-lg py-4 px-8"
      >
        <div>
          <input
            type="checkbox"
            name="os"
            id="os"
            class="h-6 w-6 border-2 border-border-color rounded-lg"
          />
        </div>
        <div>
          <h1 class="text-Denim text-lg">Larger storage</h1>
          <h2 class="text-Light-gray text-sm">Extra 1TB of cloud save</h2>
        </div>
        <div>
          <h1 class="text-Puplish text-lg">+$2/mo</h1>
        </div>
      </div>
      <div
        class="flex justify-between items-center border-2 border-border-color rounded-lg py-4 px-8"
      >
        <div>
          <input
            type="checkbox"
            name="os"
            id="os"
            class="h-6 w-6 border-2 border-border-color rounded-lg"
          />
        </div>
        <div>
          <h1 class="text-Denim text-lg">Customizable profile</h1>
          <h2 class="text-Light-gray text-sm">Custom theme on your profile</h2>
        </div>
        <div>
          <h1 class="text-Puplish text-lg">+$2/mo</h1>
        </div>
      </div>
    </div>
  </form>
</div>
