<div class="bg-white p-8 rounded-lg">
  <form>
    <h1 class="text-2xl text-Denim font-500">Finishing up</h1>
    <h6 class="text-Light-gray text-lg font-400">
      Double-check everything looks OK before confirming.
    </h6>
    <div>
      <div class="bg-very-light-gray p-8 rounded-lg my-4">
        <div
          class="flex justify-between items-center border-b-2 border-Light-gray mb-4 pb-4"
        >
          <div>
            <h1 class="text-Denim text-lg">Arcade(Monthly)</h1>
            <h1 class="text-Light-gray underline text-sm">Change</h1>
          </div>
          <div>
            <h1 class="text-Denim text-lg">$9/mo</h1>
          </div>
        </div>
        <div class="flex justify-between my-4">
          <h1 class="text-Light-gray font-lg">Online service</h1>
          <h1 class="text-Denim font-lg">+$1/mo</h1>
        </div>
        <div class="flex justify-between">
          <h1 class="text-Light-gray font-lg">Larger storage</h1>
          <h1 class="text-Denim font-lg">+$2/mo</h1>
        </div>
      </div>
      <div class="flex justify-between mt-4">
        <h1 class="text-Light-gray">Total (per month)</h1>
        <h1 class="text-xl text-Puplish">+$12/mo</h1>
      </div>
    </div>
  </form>
</div>
