<div class="bg-white p-8 rounded-lg">
  <h1 class="text-2xl text-Denim font-500">Finishing up</h1>
  <h6 class="text-Light-gray text-lg font-400">
    Double-check everything looks OK before confirming.
  </h6>
  <div>
    <div class="bg-very-light-gray p-8 rounded-lg my-4">
      <div
        class="flex justify-between items-center border-b-2 border-Light-gray mb-4 pb-4"
      >
        <div>
          <h1 class="text-Denim text-lg">
            {{ selectedPlan.plan }} ({{ selectedPlan.time }})
          </h1>
          <h1 class="text-Light-gray underline text-sm">Change</h1>
        </div>
        <div>
          <h1 class="text-Denim text-lg">
            ${{ selectedPlan.price
            }}{{ selectedPlan.time == "yearly" ? "0/yr" : "/mo" }}
          </h1>
        </div>
      </div>
      <div *ngFor="let addOn of addOns" class="flex justify-between my-4">
        <h1 class="text-Light-gray">{{ addOn.name }}</h1>
        <h1 class="text-Denim text-sm">
          +${{ selectedPlan.time == "yearly" ? addOn.price * 10 : addOn.price
          }}{{ selectedPlan.time == "yearly" ? "/yr" : "/mo" }}
        </h1>
      </div>
    </div>
  </div>
  <div class="flex justify-between mt-4 px-8">
    <h1 class="text-Light-gray">Total per year</h1>
    <h1 class="text-Puplish text-xl">
      +${{
        selectedPlan.time == "monthly"
          ? selectedPlan.price * 10
          : selectedPlan.price * 10
      }}{{ selectedPlan.time == "yearly" ? "/yr" : "/mo" }}
    </h1>
  </div>
</div>
<div
  Class=" bg-white p-4   lg:flex w-full items-center flex justify-between lg:mt-24 bg-transparent mt-12 lg:px-8"
>
  <div>
    <button (click)="prev()">Go Back</button>
  </div>
  <div>
    <button
      class="py-2 px-4 rounded-md text-white bg-Denim hover:cursor-pointer hover:bg-Puplish"
      (click)="onConfirm()"
    >
      Confirm
    </button>
  </div>
</div>
