<div class="bg-white p-8 rounded-lg">
  <h1 class="text-2xl text-Denim font-500">Personal info</h1>
  <h6 class="text-Light-gray text-lg font-400">
    Please provide your name, email address, and phone number.
  </h6>
  <form [formGroup]="form">
    <div class="mt-4">
      <div class="flex justify-between">
        <label for="name" class="text-sm">Name</label>
        <span
          *ngIf="name.errors?.['required'] && name.touched"
          class="text-Red-errors text-sm"
          >This field is required</span
        >
      </div>
      <input
        [formControl]="name"
        type="text"
        name="name"
        id="name"
        placeholder="e.g. Stephen King"
        [ngClass]="{
          'p-4': true,
          'border-2': true,
          'border-grey':  !name.errors?.['required:'],
          'rounded-lg': true,
          'my-2': true,
          'w-full': true,
          'outline-none': true,
          'focus:border-Puplish': true || !name.errors,
          'border-Red-errors': name.errors?.['required'] && name.touched
        }"
      />
    </div>
    <div>
      <div class="flex justify-between">
        <label for="name" class="text-sm">Email Address</label>
        <span
          *ngIf="email.errors?.['required'] && email.touched"
          class="text-Red-errors text-sm"
          >This field is required</span
        >
        <span *ngIf="email.errors?.['email'] " class="text-Red-errors text-sm"
          >Invalid Email
        </span>
      </div>
      <input
        type="email"
        name="email"
        id="email"
        [formControl]="email"
        placeholder="e.g  stephenking@lorem.com"
        [ngClass]="{
          'p-4': true,
          'border-2': true,
          'border-grey':  !email.errors?.['required:'],
          'rounded-lg': true,
          'my-2': true,
          'w-full': true,
          'outline-none': true,
          'focus:border-Puplish': true || !email.errors,
          'border-Red-errors': email.errors && email.touched
        }"
      />
    </div>
    <div>
      <div class="flex justify-between">
        <label for="number" class="text-sm">Phone number</label>
        <span
          *ngIf="phone.errors?.['required'] && phone.touched"
          class="text-Red-errors text-sm"
          >This field is required</span
        >
        <span
          *ngIf="phone.errors?.['phoneNumber'] && phone.dirty"
          class="text-Red-errors text-sm"
        >
          must be 10 digits long
        </span>
      </div>
      <input
        type="number"
        name="phone"
        id="phone"
        [formControl]="phone"
        placeholder="e.g. +1 234 567 890"
        [ngClass]="{
          'p-4': true,
          'border-2': true,
          'border-grey':  !phone.errors?.['required:'],
          'rounded-lg': true,
          'my-2': true,
          'w-full': true,
          'outline-none': true,
          'focus:border-Puplish': true || !phone.errors,
          'border-Red-errors': phone.errors && phone.touched
        }"
      />
    </div>
  </form>
</div>
<div
  ngClass="bg-white p-4 absolute -bottom-40 lg:flex w-full items-center flex justify-between lg:mt-24 bg-transparent mt-12 lg:px-8"
>
  <div>
    <button *ngIf="currentStep > 1 && currentStep < 5">Go Back</button>
  </div>
  <div>
    <button
      class="py-2 px-4 rounded-md text-white bg-Denim hover:cursor-pointer hover:bg-Puplish"
      *ngIf="currentStep < 4"
      (click)="OnNextStep()"
    >
      Next Step
    </button>
  </div>
  <div *ngIf="currentStep == 4">
    <button
      class="py-2 px-4 rounded-md text-white bg-Puplish hover:cursor-pointer hover:bg-Denim"
    >
      Submit
    </button>
  </div>
</div>
