<div
  class="lg:w-1/4 w-full min-h-screen lg:bg-[url('./assets/images/bg-sidebar-desktop.svg')] bg-[url('./assets/images/bg-sidebar-mobile.svg')] lg:min-h-screen lg:bg-cover bg-no-repeat bg-contain flex justify-center gap-4 py-8"
>
  <div class="lg:flex justify-between items-center">
    <div
      class="rounded-full w-8 h-8 p-4 border-2 border-Light-blue bg-Light-blue flex justify-center items-center"
    >
      <p class="text-black">1</p>
    </div>
    <div class="hidden">
      <h1>Step 1</h1>
      <h2>Your Info</h2>
    </div>
  </div>
  <div class="lg:flex justify-between items-center">
    <div
      class="rounded-full w-8 h-8 p-4 border-2 border-white bg-transparent flex justify-center items-center"
    >
      <p class="text-white">2</p>
    </div>
    <div class="hidden">
      <h1>Step 1</h1>
      <h2>Your Info</h2>
    </div>
  </div>
  <div class="lg:flex justify-between items-center">
    <div
      class="rounded-full w-8 h-8 p-4 border-2 border-white bg-transparent flex justify-center items-center"
    >
      <p class="text-white">3</p>
    </div>
    <div class="hidden">
      <h1>Step 1</h1>
      <h2>Your Info</h2>
    </div>
  </div>
  <div class="lg:flex justify-between items-center">
    <div
      class="rounded-full w-8 h-8 p-4 border-2 border-white bg-transparent flex justify-center items-center"
    >
      <p class="text-white">4</p>
    </div>
    <div class="hidden">
      <h1>Step 1</h1>
      <h2>Your Info</h2>
    </div>
  </div>
</div>
