<div class="bg-sky-blue flex justify-center items-center lg:min-h-screen">
  <div
    class="bg-sky-blue lg:bg-white flex justify-between flex-col lg:flex-row w-full lg:w-[62.5%] lg:p-4 lg:min-h-[74.02%] rounded-lg relative height"
  >
    <div
      class="custom-class bg-[url('./assets/images/bg-sidebar-mobile.svg')] lg:bg-[url('./assets/images/bg-sidebar-desktop.svg')] lg:w-[29.15%] bg-no-repeat lg:min-h-[580px] flex gap-2 lg:gap-8 lg:flex-col justify-center lg:justify-start lg:pl-12 bg-cover lg:bg-contain min-h-44 py-8"
    >
      <div class="lg:flex gap-4 items-center">
        <div
          [ngClass]="{
            'rounded-full': true,
            'w-8': true,
            'h-8': true,
            'p-4': true,
            border: true,
            'border-Light-blue': currentStep == 1,
            'bg-Light-blue': currentStep == 1,
            flex: true,
            'justify-center': true,
            'items-center': true
          }"
        >
          <p
            [ngClass]="{
              'text-black': currentStep == 1,
              'text-white': currentStep !== 1
            }"
          >
            1
          </p>
        </div>
        <div class="hidden lg:block">
          <h1 class="text-Light-blue text-xs">STEP 1</h1>
          <h1 class="text-sm text-white">YOUR INFO</h1>
        </div>
      </div>

      <div class="lg:flex gap-4 items-center">
        <div
          [ngClass]="{
            'rounded-full': true,
            'w-8': true,
            'h-8': true,
            'p-4': true,
            border: true,
            'border-Light-blue': currentStep == 2,
            'bg-Light-blue': currentStep == 2,
            flex: true,
            'justify-center': true,
            'items-center': true
          }"
        >
          <p
            [ngClass]="{
              'text-black': currentStep == 2,
              'text-white': currentStep !== 2
            }"
          >
            2
          </p>
        </div>
        <div class="hidden lg:block">
          <h1 class="text-Light-blue text-xs">STEP 2</h1>
          <h1 class="text-sm text-white">SELECT PLAN</h1>
        </div>
      </div>

      <div class="md:flex gap-4 items-center">
        <div
          [ngClass]="{
            'rounded-full': true,
            'w-8': true,
            'h-8': true,
            'p-4': true,
            border: true,
            'border-Light-blue': currentStep == 3,
            'bg-Light-blue': currentStep == 3,
            flex: true,
            'justify-center': true,
            'items-center': true
          }"
        >
          <p
            [ngClass]="{
              'text-black': currentStep == 3,
              'text-white': currentStep !== 3
            }"
          >
            3
          </p>
        </div>
        <div class="hidden lg:block">
          <h1 class="text-Light-blue text-xs">STEP 3</h1>
          <h1 class="text-sm text-white">ADD-ONS</h1>
        </div>
      </div>

      <div class="md:flex gap-4 items-center">
        <div
          [ngClass]="{
            'rounded-full': true,
            'w-8': true,
            'h-8': true,
            'p-4': true,
            border: true,
            'border-Light-blue': currentStep == 4 || currentStep == 5,
            'bg-Light-blue': currentStep == 4 || currentStep == 5,
            flex: true,
            'justify-center': true,
            'items-center': true
          }"
        >
          <p
            [ngClass]="{
              'text-black': currentStep == 4 || currentStep == 5,
              'text-white': currentStep !== 4
            }"
          >
            4
          </p>
        </div>
        <div class="hidden lg:block">
          <h1 class="text-Light-blue text-xs">STEP 4</h1>
          <h1 class="text-sm text-white">SUMMARY</h1>
        </div>
      </div>
    </div>
    <div class="absolute w-11/12 top-28 left-4 lg:relative lg:top-0">
      <personal-info
        (next)="onNextStep($event)"
        [currentStep]="currentStep"
        *ngIf="currentStep == 1"
      ></personal-info>
      <select-plan
        (Onprev)="onPreviousStep()"
        *ngIf="currentStep == 2"
      ></select-plan>
      <choose-ad-ons *ngIf="currentStep == 3"></choose-ad-ons>
      <finishing-up *ngIf="currentStep == 4"></finishing-up>

      <final *ngIf="currentStep == 5"></final>
      <!-- <div
        ngClass="lg:flex w-full items-center flex justify-between lg:mt-24 bg-transparent mt-12 lg:px-8"
      >
        <div>
          <button
            *ngIf="currentStep > 1 && currentStep < 5"
            (click)="onPreviousStep()"
          >
            Go Back
          </button>
        </div>
        <div>
          <button
            *ngIf="currentStep < 4"
            class="py-2 px-4 rounded-md text-white bg-Denim hover:cursor-pointer hover:bg-Puplish"
            (click)="onNextStep(currentStep, info.value)"
          >
            Next Step
          </button>
        </div>
        <div *ngIf="currentStep == 4">
          <button
            *ngIf="currentStep == 4"
            class="py-2 px-4 rounded-md text-white bg-Puplish hover:cursor-pointer hover:bg-Denim"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="h-[540px] lg:hidden bg-[#EFF5FF]"></div>
